<!---
Author: Rayhan Biju
Version: October 28, 2021
Description: This HTML file contains the functionality that allows clients to search parks from a list of parks, and
the list is dynamically generated ans passed into this file from the website_routes.py file. The list data is then
parsed to the front-end here using the Jinja2 front-end framework. The search functionality
is implemented in Jquery and the script is linked to this file, but the script itself is on static/search.js.
-->

<!DOCTYPE html>

{% extends "base.html" %}Find Activity{% block title %}{{park_name}}Find Parks{% endblock %} {% block
content %}


<html lang="en">
<head>
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='search.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>


    <center><h1 style="color:white">Find Parks</h1></center>
    <br>
    <br>
    <meta charset="UTF-8">
    <style>
        .list-group{
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}


    </style>

</head>
<body>
<!--
The following container contains functionality to dynamically generate all parks that the National Park Service
operates on the front-end. There is a button on each list that will take the client to an info page about the park.
-->
<div class="container">
    <input class="form-control" id="searchInput" type="text" placeholder="Search Parks...">
    <br>
    <ul class="list-group" id="myList">
        {% for park in range(parks|length) %}
        <li class="list-group-item">{{parks[park]}}
            <a href="/park/{{parks[park]}}">
                <button class="btn btn-primary float-right" type="submit">Explore</button>
            </a>
        </li>
        {% endfor %}

    </ul>


</div>

</body>
</html>
{% endblock %}