<!--
Author: Rayhan Biju
Version: October 28, 2021
Description: This HTML file contains front-end functionality to show a list of all the National Park Service
activities. This list is dynamically generated and is passed from the
website_routes.py file and parsed through the Jinja2 framework on this file.
-->
<!DOCTYPE html>

{% extends "base.html" %}Find Activity{% block title %}{{park_name}} Info{% endblock %} {% block
content %}


<html lang="en">
<head>
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script type="text/javascript"
            src="{{ url_for('static', filename='search.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
  </script>


    <center><h1 style="color:white"> Find Parks Based on Activity </h1></center>
    <br>
    <br>
    <meta charset="UTF-8">
    <style>
        .list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
    </style>

</head>
<body>
<!--
The following container div allows the list of parks associated with an activity to be dynamically generated.
This class is also linked to a Jquery script on static/search.js that will allow clients to search the list.
-->
<div class="container">
  <input class="form-control" id="myInput" type="text" placeholder="Search Activities..">
  <br>
  <ul class="list-group" id="myList">
      {% for activity in range(activities|length) %}
    <li class="list-group-item">{{activities[activity]}}</li>
              {% endfor %}

  </ul>

</div>



</body>
</html>
{% endblock %}