<!-- Code created by Rayhan Biju 2021 -->

{% extends "base.html" %}

{% block title %} Browse {% endblock %}

{% block content %}

<h1 xmlns="http://www.w3.org/1999/html"> <center> Park Info </center></h1>

<br><br><br>
<head>



</head>

<body>
<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
  aria-describedby="search-addon" />
  <button type="button" class="btn btn-primary">search</button>
</div>


<script>

    const data_fields = {

    }


</script>

<br>


<br>


{% endblock %}
</body>