{% extends "base.html" %}
{% block title %} NPS Information Center {% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PTEdfef</title>



</head>
<body>
<div class="card" style="width: 80;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{park_name}}</h5>
    <p class="card-text">{{park_bio}}</p>

      <!--Map of park -->
      <
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</body>
</html>