{% extends "base.html" %} {% block title %}{{park_name}} Info{% endblock %} {% block
content %}

<html lang="en">
<head>
    <meta charset="UTF-8">


<br><br>
</head>
<body>


<div class="card" style="width: 80;">

  <img class="card-img-top" src="{{park_pic}}" alt="Card image cap">


  <div class="card-body">

      {% for tag in tags %}
<span class="badge badge-pill badge-primary">{{tag}}</span>
{% endfor %}

      {% if tags %}
      <br>
<br>
      {% endif %}
      <h5 class="card-title">{{park_name}} National Park <br> <small>{{city}}, {{state}}</small><br>
      <small>Average Ticket Price: {{avg_cost}}</small></h5>
<!--      <p>{{'Tags' if tags|length > 0 else ''}}</p>-->

    <p class="card-text">{{park_description}}



    <br>

    </p>

      <!--Map of park -->

    <a href="{{directions_url}}" class="btn btn-primary" target="_blank">Directions</a>
  </div>


</div>

</body>
</html>

{% endblock %}